<footer>
    <div class="container d-none d-lg-block">
        <div class="row py-5">
            <div>
                <p>
                    <b>Над проектом работали:</b>
                </p>
            </div>
            <div class="col">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div>
                        <p>
                            <b>Редакторская группа:</b> Мария Бурутина, Надежда Юрченко, Надира Алимжановна, Ксения Тареева, Юрий Рожко
                        </p>
                        <p>
                            <b>Куратор мультимедиа направления:</b> Алексей Новичков
                        </p>
                        <p>
                            <b>Руководители проекта:</b> Александра Прокопенко и Михаил Зеленцов
                        </p>
                    </div>
                    <div>
                        <p>
                            Проект выполнен в рамках сотрудничества Департамента медиа («Лаборатория деловой журналистики») и Базовой кафедры Банка России Национального исследовательского университета «Высшая школа экономики» 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div>
                        <p>
                            <b>Авторская группа:</b> Алексей Кошкин, Алина Семенец, Анастасия Илюшина, Анна Алырчикова, Анна Истошина, Владимир Иванов, Дарья Авдеёнок, Дарья Леонова, Екатерина Никуленкова, Захар Филатов, Катерина Деева, Кемаль Шен, Кристина Бородина, Матвей Финагин, Наталья Люкшина, Николай Басенко, Ольга Кольцова, Полина Смирнова, Светлана Агабабян, Сония Сарваретдинова, Шахриёр Исмаилходжаев, Элина Янковская, Яна Шмытько
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5 d-block d-lg-none">
        <p>
            <b>Над проектом работали:</b>
        </p>
        <p>
            <b>Редакторская группа:</b> Мария Бурутина, Надежда Юрченко, Надира Алимжановна, Ксения Тареева, Юрий Рожко
        </p>
        <p>
            <b>Авторская группа:</b> Алексей Кошкин, Алина Семенец, Анастасия Илюшина, Анна Алырчикова, Анна Истошина, Владимир Иванов, Дарья Авдеёнок, Дарья Леонова, Екатерина Никуленкова, Захар Филатов, Катерина Деева, Кемаль Шен, Кристина Бородина, Матвей Финагин, Наталья Люкшина, Николай Басенко, Ольга Кольцова, Полина Смирнова, Светлана Агабабян, Сония Сарваретдинова, Шахриёр Исмаилходжаев, Элина Янковская, Яна Шмытько
        </p>
        <p>
            <b>Куратор мультимедиа направления:</b> Алексей Новичков
        </p>
        <p>
            <b>Руководители проекта:</b> Александра Прокопенко и Михаил Зеленцов
        </p>
        <p>
            Проект выполнен в рамках сотрудничества Департамента медиа («Лаборатория деловой журналистики») и Базовой кафедры Банка России Национального исследовательского университета «Высшая школа экономики» 
        </p>
    </div>  
</footer>