<footer>
    <div class="container d-none d-lg-block">
        <div class="row py-5">
            <div class="col">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div>
                        <p>
                            <b>Над проектом работали:</b>
                        </p>
                        <p>
                            <b>Редакторская группа:</b> Мария Бурутина, Надежда Юрченко, Надира Алимжановна, Ксения Тареева, Юрий Рожко
                        </p>
                        <p>
                            <b>Авторская группа:</b> Алексей Кошкин, Алина Семенец, Анастасия Илюшина, Анна Алырчикова, Анна Истошина, Владимир Иванов, Дарья Авдеёнок, Дарья Леонова, Екатерина Никуленкова, Захар Филатов, Катерина Деева, Кемаль Шен, Кристина Бородина, Матвей Финагин, Наталья Люкшина, Николай Басенко, Ольга Кольцова, Полина Смирнова, Светлана Агабабян, Сония Сарваретдинова, Шахриёр Исмаилходжаев, Элина Янковская, Яна Шмытько
                        </p>
                        <p>
                            <b>Куратор мультимедиа направления:</b> Алексей Новичков
                        </p>
                        <p>
                            <b>Руководители проекта:</b> Александра Прокопенко и Михаил Зеленцов
                        </p>
                    </div>
                    <div>
                        <p>
                            Проект выполнен в рамках сотрудничества Департамента медиа («Лаборатория деловой журналистики») и Базовой кафедры Банка России Национального исследовательского университета «Высшая школа экономики» 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p>
                        <b>В работе использованы фотографии:</b>
                    </p>
                    <p>
                        Официальный сайт Центрального Банка России,  Alamy Stock Photo/ Painters , Retro View of Mankind's Habitat/ Danushka , PNG.EGG, Александр Гринберг / МАММ / МДФ, РГАКФД, Архив Чувашского национального музея, BANKNOTE WORLD, Adobe Stock/ Juulijs, Монетник.ру, Викисклад, Андрей Гуцков/ TVC.ru, Чеки Внешторгбанка СССР, WikiWand, Adobe Stock/ alexlmx, Alamy Stock Photo/ Archivart, Retro View of Mankind's Habitat/Alx52, Phalera.net, Государственный банк СССР - Официальный сайт, Николай Макеев / LiveInternet, ShutterStock/ Fonov, GEOFF COLVIN/ FORTUNE, Tetiana Lazunova / Alamy Stock Vector, ShutterStock/ rook76, ShutterStock/ Starikov Pavel, ShutterStock/PEAPIZA, Сайт Московской биржи, Noun Project/ Icons Bazaar, Noun Project/rex, Kipartz
                    </p>
                    <p>
                        <b>В работе использованы источники:</b>
                    </p>
                    <p>
                        Моисеев С. Р. История центральных банков и бумажных денег. - М.: Вече, 2015. 536 с.
                        <br>
                        Полное собрание законов Российской империи. Второе собрание. Том 35. Указ 35847. Глава 1. Статья 1. 1825-1881. С.646
                        <br>
                        Уголовный кодекс Российской Федерации от 13.06.1996 N 63-ФЗ. Особенная часть. Раздел VIII. Глава 22. Статья 186 “Изготовление, хранение, перевозка или сбыт поддельных денег или ценных бумаг”
                        <br>
                        Федеральный закон Российской Федерации от 27.06.2011 N 161-ФЗ (ред. от 02.07.2021) "О национальной платежной системе" от 27.06.2011 № 161-ФЗ  (с изм. и доп., вступ. в силу с 01.12.2021)
                        <br>
                        Эйхенгрин Б. Непомерная привилегия: Взлет и падение доллара / пер. с англ. Николая Эдельмана. М.: Изд. Института Гайдара, 2013. 320 с.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-block d-lg-none">
        <p>
            <b>Над проектом работали:</b>
        </p>
        <p>
            <b>Редакторская группа:</b> Мария Бурутина, Надежда Юрченко, Надира Алимжановна, Ксения Тареева, Юрий Рожко
        </p>
        <p>
            <b>Авторская группа:</b> Алексей Кошкин, Алина Семенец, Анастасия Илюшина, Анна Алырчикова, Анна Истошина, Владимир Иванов, Дарья Авдеёнок, Дарья Леонова, Екатерина Никуленкова, Захар Филатов, Катерина Деева, Кемаль Шен, Кристина Бородина, Матвей Финагин, Наталья Люкшина, Николай Басенко, Ольга Кольцова, Полина Смирнова, Светлана Агабабян, Сония Сарваретдинова, Шахриёр Исмаилходжаев, Элина Янковская, Яна Шмытько
        </p>
        <p>
            <b>Куратор мультимедиа направления:</b> Алексей Новичков
        </p>
        <p>
            <b>Руководители проекта:</b> Александра Прокопенко и Михаил Зеленцов
        </p>
        <p>
            <b>В работе использованы фотографии:</b>
        </p>
        <p>
            Официальный сайт Центрального Банка России,  Alamy Stock Photo/ Painters , Retro View of Mankind's Habitat/ Danushka , PNG.EGG, Александр Гринберг / МАММ / МДФ, РГАКФД, Архив Чувашского национального музея, BANKNOTE WORLD, Adobe Stock/ Juulijs, Монетник.ру, Викисклад, Андрей Гуцков/ TVC.ru, Чеки Внешторгбанка СССР, WikiWand, Adobe Stock/ alexlmx, Alamy Stock Photo/ Archivart, Retro View of Mankind's Habitat/Alx52, Phalera.net, Государственный банк СССР - Официальный сайт, Николай Макеев / LiveInternet, ShutterStock/ Fonov, GEOFF COLVIN/ FORTUNE, Tetiana Lazunova / Alamy Stock Vector, ShutterStock/ rook76, ShutterStock/ Starikov Pavel, ShutterStock/PEAPIZA, Сайт Московской биржи, Noun Project/ Icons Bazaar, Noun Project/rex, Kipartz
        </p>
        <p>
            <b>В работе использованы источники:</b>
        </p>
        <p>
            Моисеев С. Р. История центральных банков и бумажных денег. - М.: Вече, 2015. 536 с.
            <br>
            Полное собрание законов Российской империи. Второе собрание. Том 35. Указ 35847. Глава 1. Статья 1. 1825-1881. С.646
            <br>
            Уголовный кодекс Российской Федерации от 13.06.1996 N 63-ФЗ. Особенная часть. Раздел VIII. Глава 22. Статья 186 “Изготовление, хранение, перевозка или сбыт поддельных денег или ценных бумаг”
            <br>
            Федеральный закон Российской Федерации от 27.06.2011 N 161-ФЗ (ред. от 02.07.2021) "О национальной платежной системе" от 27.06.2011 № 161-ФЗ  (с изм. и доп., вступ. в силу с 01.12.2021)
            <br>
            Эйхенгрин Б. Непомерная привилегия: Взлет и падение доллара / пер. с англ. Николая Эдельмана. М.: Изд. Института Гайдара, 2013. 320 с.
        </p>
        <p>
            Проект выполнен в рамках сотрудничества Департамента медиа («Лаборатория деловой журналистики») и Базовой кафедры Банка России Национального исследовательского университета «Высшая школа экономики» 
        </p>
    </div>
</footer>