<header class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-between pb-0 shadow-sm mb-4" id="nav">
    <div class="container" id="header">
        <div class="navbar-brand pb-3">
            <a href="{{ site.baseurl }}" id="home">
                <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo" id="logo" class="align-text-top pt-1">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_collapse" aria-controls="navbar_collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar_collapse" class="collapse navbar-collapse">
            <nav class="navbar-nav w-100 d-flex justify-content-end align-items-end">
                {% assign sorted_pages = site.pages | sort:"order" %}
                {% for page in sorted_pages %}
                    {% if page.layout == 'map' or page.layout == 'bankofrussia' or page.layout == 'timeline' %}
                        <a href="{{ page.url }}" class="nav-link pb-3 mx-2">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    </div>
</header>