---
layout: wrapper 
---

<div class="container px-5">
    <div class="link-group">
        <h1>Как работает Банк России?</h1>
        <ul>
            <li>
                <div class="d-flex mt-3">
                    <div class="me-4  function">
                        <img src="{{ '/assets/images/function_icon1.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 1 | relative_url }}">
                            <h4>Денежно-кредитная политика</h4>
                        </a>
                        <p>
                            Ключевая ставка, инфляция — мы часто слышим эти понятия, но не всегда знаем их значение. Давайте разбираться!
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon2.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 2 | relative_url }}">
                            <h4>Обеспечение финансовой стабильности</h4>
                        </a>
                        <p>
                            Финансовая стабильность — это про устойчивую работу финансовой системы и отсутсвие кризиса. Читайте, как это обеспечивает регулятор.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon3.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 3 | relative_url }}">
                            <h4>Регулирование финансового рынка</h4>
                        </a>
                        <p>
                            Где торгуют валютой, акциями и облигациями? Если речь о банковском надзоре внутри страны, при чем тут швейцарский город Базель — ответим на эти вопросы в разделе.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4  function">
                        <img src="{{ '/assets/images/function_icon4.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 4 | relative_url }}">
                            <h4>Наличное денежное обращение</h4>
                        </a>
                        <p>
                            Время — деньги, или деньги — время, потраченное на их обработку и обслуживание? Настоящие приключения бумажной купюры.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon5.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 5 | relative_url }}">
                            <h4>Национальная платежная система</h4>
                        </a>
                        <p>
                            Поговорим о том, без чего не получается платить картой — платёжные системы. Почему так важно, чтобы она была у страны?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4  function">
                        <img src="{{ '/assets/images/function_icon6.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 6 | relative_url }}">
                            <h4>Финансовые технологии и их регулирование</h4>
                        </a>
                        <p>
                            Если вас пугают понятия токен, блокчейн, машинное обучение и биометрические системы — смело переходите в раздел и убедитесь, что знакомство с финансовыми технологиями доступно каждому.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>