---
layout: wrapper
---

<div class="container mt-2 mb-2">
    <div class="row mt-2 mb-5 row-cols-lg-2 row-cols-1 gx-3 gy-3">
        <div class="col">
            <h1>Как работает Банк России?</h1>
            <p class="lead d-none d-lg-block" style="font-size: 1.5em;">
                Центральный банк — это организация, которая регулирует работу всей финансовой системы страны и обеспечивает ее стабильность. Сразу отметим: центральные банки не выдают кредиты и не открывает вклады частным лицам - этим занимаются коммерческие банки. Главная цель центральных банков — обеспечить устойчивость национальной валюты. Расскажем про самые важные функции центральных банков на примере Банка России
            </p>
        </div>
        <div class="col">
            <div class="card" >
                <div class="video-container">
                    <!--
                    <iframe src="https://www.youtube.com/embed/JYWvsW2ISVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
                    <iframe src="https://editor.p5js.org/Fonkenny/full/-BBnvHOE1"></iframe>
                </div>
                <!-- <div class="d-none d-lg-block card-body video-card">
                        <h4>Как работает Банк России?</h4>
                    <p>Экономист Григорий Баженов о монетарной политике</p>
                </div>
                <div class="d-block d-lg-none card-body video-card d-flex justify-content-around">
                    <div class="mt-1 ml-3">
                        <h4>Денежно-кредитная политика</h4>
                        <p>Экономист Григорий Баженов о монетарной политике</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class=" article">
    <div class="container article-1 course-container">
<!-- <div class="video-container my-4">
        <iframe src="https://www.youtube.com/embed/r4M8hkoHNGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <p class="lead">
            Центральный банк — это организация, которая регулирует работу всей финансовой системы страны и обеспечивает ее стабильность. Сразу отметим: центральные банки не выдают кредиты и не открывает вклады частным лицам - этим занимаются коммерческие банки. Главная цель центральных банков — обеспечить устойчивость национальной валюты. Расскажем про самые важные функции центральных банков на примере Банка России.
        </p>
    </div> -->
    <div class="link-group">
        <ul>
            <li>
                <div class="d-flex mt-3">
                    <div class="me-4  function">
                        <img src="{{ '/assets/images/function_icon1.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 1 | relative_url }}">
                            <h4>Денежно-кредитная политика</h4>
                        </a>
                        <p>
                            Ключевая ставка, инфляция — мы часто слышим эти понятия, но не всегда знаем их значение. Давайте разбираться!
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon2.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 2 | relative_url }}">
                            <h4>Обеспечение финансовой стабильности</h4>
                        </a>
                        <p>
                            Финансовая стабильность — это про устойчивую работу финансовой системы и отсутсвие кризиса. Читайте, как это обеспечивает регулятор.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon3.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 3 | relative_url }}">
                            <h4>Регулирование финансового рынка</h4>
                        </a>
                        <p>
                            Где торгуют валютой, акциями и облигациями? Если речь о банковском надзоре внутри страны, при чем тут швейцарский город Базель — ответим на эти вопросы в разделе.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4  function">
                        <img src="{{ '/assets/images/function_icon4.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 4 | relative_url }}">
                            <h4>Наличное денежное обращение</h4>
                        </a>
                        <p>
                            Время — деньги, или деньги — время, потраченное на их обработку и обслуживание? Настоящие приключения бумажной купюры.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon5.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 5 | relative_url }}">
                            <h4>Национальная платежная система</h4>
                        </a>
                        <p>
                            Поговорим о том, без чего не получается платить картой — платёжные системы. Почему так важно, чтобы она была у страны?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex mt-2">
                    <div class="me-4 function">
                        <img src="{{ '/assets/images/function_icon6.png' | relative_url }}" alt="">
                    </div>
                    <div>
                        <a href="{{ 6 | relative_url }}">
                            <h4>Финансовые технологии и их регулирование</h4>
                        </a>
                        <p>
                            Если вас пугают понятия токен, блокчейн, машинное обучение и биометрические системы — смело переходите в раздел и убедитесь, что знакомство с финансовыми технологиями доступно каждому.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    </div>
</div>
