---
layout: wrapper
---

<div class="container mt-2 mb-2">
    <div class="row mt-2 mb-3 row-cols-lg-2 row-cols-1 gx-3 gy-3">
        <div class="col pe-4">
            <h1>Центральные банки и другие финансовые регуляторы: как они работают?</h1>
            <p class="lead">
                Спецпроект Департамента медиа и Базовой кафедры Банка России Высшей школы экономики, посвященный работе финансовых регуляторов
            </p>
        </div>
        <div class="col">
            <div class="card" >
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Sp1EDLIPrwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="d-none d-lg-block card-body video-card">
                    <a href="#">
                        <h4>Что такое центральный банк?</h4>
                    </a>
                    <p>Объясняем, что такое финансовый регулятор и зачем он нужен</p>
                </div>
                <div class="d-block d-lg-none card-body video-card d-flex justify-content-around">
                    <div class="mt-1 ml-3">
                        <h4>Что такое центральный банк?</h4>
                        <p>Объясняем, что такое финансовый регулятор и зачем он нужен</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-2 mb-3 gx-3">
        <div class="d-none d-lg-block col-6 link-group">
            <h1>Как работает Банк России?</h1>
            <ul>
                <li>
                    <div class="d-flex mt-3">
                        <div class="me-4  function">
                            <img src="{{ '/assets/images/function_icon1.png' | relative_url }}" alt="">
                        </div>
                        <div>
                            <a href="{{ 1 | relative_url }}">
                                <h4>Денежно-кредитная политика</h4>
                            </a>
                            <p>
                                Ключевая ставка, инфляция — мы часто слышим эти понятия, но не всегда знаем их значение. Давайте разбираться!
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex mt-2">
                        <div class="me-4 function">
                            <img src="{{ '/assets/images/function_icon2.png' | relative_url }}" alt="">
                        </div>
                        <div>
                            <a href="{{ 2 | relative_url }}">
                                <h4>Обеспечение финансовой стабильности</h4>
                            </a>
                            <p>
                                Финансовая стабильность — это про устойчивую работу финансовой системы и отсутсвие кризиса. Читайте, как это обеспечивает регулятор.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex mt-2">
                        <div class="me-4 function">
                            <img src="{{ '/assets/images/function_icon3.png' | relative_url }}" alt="">
                        </div>
                        <div>
                            <a href="{{ 3 | relative_url }}">
                                <h4>Регулирование финансового рынка</h4>
                            </a>
                            <p>
                                Где торгуют валютой, акциями и облигациями? Если речь о банковском надзоре внутри страны, при чем тут швейцарский город Базель — ответим на эти вопросы в разделе
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex mt-2">
                        <div class="me-4  function">
                            <img src="{{ '/assets/images/function_icon4.png' | relative_url }}" alt="">
                        </div>
                        <div>
                            <a href="{{ 4 | relative_url }}">
                                <h4>Наличное денежное обращение</h4>
                            </a>
                            <p>
                                Время — деньги, или деньги — время, потраченное на их обработку и обслуживание? Настоящие приключения бумажной купюры
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex mt-2">
                        <div class="me-4 function">
                            <img src="{{ '/assets/images/function_icon5.png' | relative_url }}" alt="">
                        </div>
                        <div>
                            <a href="{{ 5 | relative_url }}">
                                <h4>Национальная платежная система</h4>
                            </a>
                            <p>
                                Поговорим о том, без чего не получается платить картой — платёжные системы. Почему так важно, чтобы она была у страны?
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex mt-2">
                        <div class="me-4  function">
                            <img src="{{ '/assets/images/function_icon6.png' | relative_url }}" alt="">
                        </div>
                        <div>
                            <a href="{{ 6 | relative_url }}">
                                <h4>Финансовые технологии и их регулирование</h4>
                            </a>
                            <p>
                                Если вас пугают понятия токен, блокчейн, машинное обучение и биометрические системы — смело переходите в раздел и убедитесь, что знакомство с финансовыми технологиями доступно каждому
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-block col-6">
            <div class="row card-row d-flex justify-content-between">
                <div class="card shadow">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-container">
                                <div>
                                    <h3>История банковского регулирования</h3>
                                    <p id="time">
                                        <span id="year">1860:</span><br>Указ об образовании Государственного банка Александра II с целью «оживления торговых оборотов и упрочения денежной кредитной системы»
                                    </p>
                                </div>
                                <a href="{{ 'timeline' | relative_url }}">
                                    <button type="button" class="btn btn-dark w-100">Читать далее</button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card shadow">
                    <ul class="list-group list-group-flush h-100">
                        <li class="list-group-item h-100">
                            <div class="card-container d-flex flex-column justify-content-between h-100">
                                <h3>Карта финансовых регуляторов</h3>
                                <img src="{{ '/assets/images/map.png' | relative_url }}" id="map" alt="">
                                <a href="{{ site.baseurl }}/map">
                                    <button type="button" class="btn btn-dark w-100">Исследовать</button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 d-block d-lg-none">
            <div class="row mt-2 mb-5">
                <h1 class="ms-1 mb-4">Карта финансовых регуляторов</h1>
                <img src="{{ '/assets/images/map.png' | relative_url }}" id="map" alt="">
                <div class="d-flex justify-content-center">
                    <a href="{{ 'map' | relative_url }}" class="">
                        <button type="button" class="btn btn-dark mt-4">Исследовать</button>
                    </a>
                </div>
            </div>
            <div class="row my-5">
                <h1 class="ms-1 mb-4">История банковского регулирования</h1>
                <div class="d-flex">
                    <div id="timeline-start" class="w-50 me-2">
                        <h2>1860:</h2>
                    </div>
                    <div class="ms-2 ps-2">
                        <p>
                            Указ об образовании Государственного банка Александра II с целью «оживления торговых оборотов и упрочения денежной кредитной системы». 
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ 'timeline' | relative_url }}">
                        <button type="button" class="btn btn-dark w-100 mt-4">Читать далее</button>
                    </a>
                </div>
            </div>
            <div class="row mt-5 mb-3">
                <div class="d-block d-lg-none link-group">
                    <h1>Как работает Банк России?</h1>
                    <ul>
                        <li>
                            <div class="d-flex mt-3">
                                <div class="me-4 function">
                                    <img src="{{ '/assets/images/function_icon1.png' | relative_url }}" alt="">
                                </div>
                                <div>
                                    <a href="{{ 1 | relative_url }}">
                                        <h4>Денежно-кредитная политика</h4>
                                    </a>
                                    <p>
                                        Ключевая ставка, инфляция — мы часто слышим эти понятия, но не всегда знаем их значение. Давайте разбираться!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mt-3">
                                <div class="me-4 function">
                                    <img src="{{ '/assets/images/function_icon2.png' | relative_url }}" alt="">
                                </div>
                                <div>
                                    <a href="{{ 2 | relative_url }}">
                                        <h4>Обеспечение финансовой стабильности</h4>
                                    </a>
                                    <p>
                                        Финансовая стабильность — это про устойчивую работу финансовой системы и отсутсвие кризиса. Читайте, как это обеспечивает регулятор.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mt-3">
                                <div class="me-4 function">
                                    <img src="{{ '/assets/images/function_icon3.png' | relative_url }}" alt="">
                                </div>
                                <div>
                                    <a href="{{ 3 | relative_url }}">
                                        <h4>Регулирование финансового рынка</h4>
                                    </a>
                                    <p>
                                        Где торгуют валютой, акциями и облигациями? Если речь о банковском надзоре внутри страны, при чем тут швейцарский город Базель — ответим на эти вопросы в разделе
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mt-3">
                                <div class="me-4 function">
                                    <img src="{{ '/assets/images/function_icon4.png' | relative_url }}" alt="">
                                </div>
                                <div>
                                    <a href="{{ 4 | relative_url }}">
                                        <h4>Наличное денежное обращение</h4>
                                    </a>
                                    <p>
                                        Время — деньги, или деньги — время, потраченное на их обработку и обслуживание? Настоящие приключения бумажной купюры
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mt-3">
                                <div class="me-4 function">
                                    <img src="{{ '/assets/images/function_icon5.png' | relative_url }}" alt="">
                                </div>
                                <div>
                                    <a href="{{ 5 | relative_url }}">
                                        <h4>Национальная платежная система</h4>
                                    </a>
                                    <p>
                                        Поговорим о платёжных системах, без которых невозможно оплатить покупки картой. Почему платежные системы — это важно для страны?
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex mt-3">
                                <div class="me-4 function">
                                    <img src="{{ '/assets/images/function_icon6.png' | relative_url }}" alt="">
                                </div>
                                <div>
                                    <a href="{{ 6 | relative_url }}">
                                        <h4>Финансовые технологии и их регулирование</h4>
                                    </a>
                                    <p>
                                        Если вас пугают понятия токен, блокчейн, машинное обучение и биометрические системы — смело переходите в раздел и убедитесь, что знакомство с финансовыми технологиями доступно каждому
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
