---
layout: wrapper
---

<main>
    <div class="container mt-2 mb-2">
        <div class="row mt-2 mb-3 row-cols-lg-2 row-cols-1 gx-3 gy-3">
            <div class="col">
                <h1>Национальная платежная система</h1>
                <p class="lead d-none d-lg-block">
                    Поговорим о том, без чего нельзя обеспечить суверенитет государства и безопасность финансовой системы, — о национальной платежной системе.
                </p>
            </div>
            <div class="col">
                <div class="card" >
                    <div class="video-container">
                        <iframe src="https://vk.com/video_ext.php?oid=-216473325&id=456239019&hash=f4242ac324134f03&hd=2" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="d-none d-lg-block card-body video-card">
                            <h4>Национальная платежная система</h4>
                        <p>Алла Бакина о национальной платежной системе</p>
                    </div>
                    <div class="d-block d-lg-none card-body video-card d-flex justify-content-around">
                        <div class="mt-1 ml-3">
                            <h4>Национальная платежная система</h4>
                            <p>Алла Бакина о национальной платежной системе</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="article">
        <div class="container article-1">
            <div class="article-container">
                <h1 class="article-title">
                    Что такое национальная платежная система, и зачем она нужна?
                </h1>
                <p>
                    Национальная платежная система обеспечивает безналичные расчеты и платежи граждан и юридических лиц. Федеральный закон от 27 июня 2011 года №161-ФЗ «О национальной платежной системе» устанавливает правовые и организационные основы национальной платежной системы, регулирует порядок оказания платежных услуг, в том числе осуществления перевода денежных средств, использования электронных средств платежа, деятельность субъектов национальной платежной системы, определяет требования к организации и функционированию платежных систем, порядок осуществления надзора и наблюдения в НПС.
                    <br>
                    Банк России обеспечивает устойчивость и бесперебойное функционирование национальной платежной системы, необходимую инфраструктуру для осуществления безналичных расчетов на территории России.
                    <br>
                    <br>
        В национальную платежную систему входят:
        <ul>
          <li>
            28 платежных систем
          </li>
          <li>
            371 оператор по переводу денежных средств
          </li>
          <li>
            4 246 банковских платежных агентов
          </li>
                </p>
                <h1 class="article-title">
                    Почему НПС называют кровеносной системой экономики?
                </h1>
                <p>
                    Платежные системы и платежная инфраструктура, подобно кровеносной системе организма человека, обеспечивают рост экономики, финансовую стабильность и повышают доступность финансовых услуг.
                    <br>
                    Платежная система<span class="more"><img src="{{ '/assets/images/more1.png' | relative_url }}"><img src="{{ '/assets/images/more2.png' | relative_url }}"></span><span class="info">система безналичных денежных расчетов</span><span class="close"><img src="{{ '/assets/images/close1.png' | relative_url }}"><img src="{{ '/assets/images/close2.png' | relative_url }}"></span> — это совокупность правил, технологических процедур и технической инфраструктуры, позволяющих осуществлять перевод денежных средств между экономическими субъектами. Вид платежной системы, в которой для проведения расчетов используются привязанные к банковскому счету пластиковые карты или их электронные образы, называется системой платежных карт. Особенность национальной системы платежных карт заключается в обработке операций по банковским картам внутри страны.
                    <br>

                    <h1 class="article-title">
                    Карточные платежные системы в России
                </h1>
                <p>
                    В 1992 году была создана первая отечественная система межбанковских расчетов, получившая название СТБ Card, членами которой были 25 организаций, образующие сеть из 960 банкоматов. В рамках СТБ было эмитировано около 1 млн карт. Примерно через год появилась еще одна система платежных карт UnionCard, созданная группой частных лиц и несколькими банковскими организациями. К концу 90-х годов прошлого века UnionCard включала в себя уже около 450 банков и обеспечивала функционирование 3 млн карт.
                    <br>
                    <img src="{{ '/assets/images/5/stb_card.png' | relative_url }}" alt="">
                    Также в начале 1990-х Сбербанк России основал собственную платежную систему «Сберкарт». С 1993 по 2000 год она включала в себя примерно 22 банковские организации, а также выпустила 3 млн карт.
                    <br>
                    В 1993 году была создана еще одна система платежных карт под названием «Золотая Корона». Местом ее основания был новосибирский Академгородок. Этой платежной системе удалось обеспечить взаимодействие 87 банков в рамках одной сети, при этом выпустив более 8 млн пластиковых носителей в период с 1993 по 2014 год.
                    <br>
                    В начале 2000-х VISA и MasterCard имели львиную долю в карточном сегменте платежного рынка России.
                    <br>
                    В 2010 году был принят федеральный закон №210-ФЗ «Об организации предоставления государственных и муниципальных услуг», опираясь на положения которого Сбербанк в декабре 2012 года запустил платежную систему ПРО100 и начал продвижение на рынок карты УЭК (универсальной электронной карты). Она начала свою работу 1 января 2013 года. Однако выдача УЭК, которая должна была производиться в обязательном порядке, откладывалась ввиду недовольства этой идеей банков, частных лиц и даже глав регионов. Все это в итоге привело к отмене планов по обязательной выдаче универсальных электронных карт, хотя УЭК все же начали принимать в некоторых устройствах самообслуживания (примерно 68 тыс.) и в 250 тыс. организаций розничной и оптовой торговли.
                    <br>

                </p>
                <h1 class="article-title">
                    Создание АО «НСПК» и платежной системы «Мир»
                </h1>
                <img src="{{ '/assets/images/5/nspk.png' | relative_url }}" alt="">
                <p>
                    В марте 2014 года после блокировки международными платежными системами платежей по картам клиентов нескольких российских банков была выявлена уязвимость финансовой системы от неправомерных действий иностранных финансовых организаций.
                    <br>
                    16 июня 2014 года Банк России учредил Национальную систему платежных карт (НСПК), на базе которой были созданы карты «Мир». В январе 2015 года к платежной системе «Мир» уже были подключены первые участники.
                    <br>
                    Структуру НПС можно разделить на три основные части:
                    <br>
                    Функции оператора системы, операционного центра и платежного клирингового центра были возложены на АО «НСПК». Расчетным центром стал Банк России. Через АО «НСПК» обрабатываются все внутрироссийские платежи по картам международных платежных систем. Обеспечен прием карт «Мир» на всей территории России. Также карты «Мир» принимаются в ряде стран ближнего и дальнего зарубежья.
                    <br>
                    Создание национальной системы платежных карт позволило внедрить ряд социальных сервисов. Прежде всего это выплаты пенсионерам, бюджетникам и страховые выплаты, реализация нефинансовых сервисов <span class="more"><img src="{{ '/assets/images/more1.png' | relative_url }}"><img src="{{ '/assets/images/more2.png' | relative_url }}"></span><span class="info">кампусные проекты, социальные карты жителя региона и прочее</span><span class="close"><img src="{{ '/assets/images/close1.png' | relative_url }}"><img src="{{ '/assets/images/close2.png' | relative_url }}"></span> Кроме этого, ПС «Мир» предоставляет современные платежные сервисы бесконтактных и мобильных платежей с использованием технологии NFC и приложения MirPay.
                    <br>
                    Платежная инфраструктура была спроектирована с учетом большой нагрузки. За 2021 год количество карт ПС «Мир» выросло на 20% и составило 113,6 млн. Объем операций по картам ПС «Мир» вырос на 38% и превысил 33,3 трлн руб. Создание национальной системы платежных карт — это стратегический инфраструктурный проект в области финансовых технологий, который позволил решить общегосударственные задачи в сфере экономики и финансов, а также создавать современные платежные продукты.
                </p>
                <h1 class="article-title">
                    Система быстрых платежей
                </h1>
                <p>
                    <img src="{{ '/assets/images/5/sbp.jpg' | relative_url }}" alt="">
                    <br>
                    Для решения важнейших задач Стратегии развития НПС<sup><a href="https://cbr.ru/Content/Document/File/120210/strategy_nps_2021-2023.pdf">*</a></sup> в 2019 году была запущена Система быстрых платежей (СБП), которая позволяет гражданам мгновенно переводить деньги друг другу по номеру мобильного телефона, оплачивать покупки и услуги ЖКХ с помощью QR-кода, а также совершать другие операции. На 1 января 2022 года к СБП подключены 212 банков. Количество пользователей по сравнению с 2020 годом увеличилось в три раза, а объем операций вырос в шесть раз. В настоящее время в СБП предоставляются бесплатные переводы для граждан в сумме до 100 тысяч руб. в месяц. Также СБП позволяет снизить издержки для бизнеса до 0,4–0,7% за прием платежей.
                </p>
                 <br>
                     <div class="d-none d-lg-block card-body video-card">
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/xWJmGnuXllo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h4>Национальная платежная система</h4>
                        <p>Евгений Соловьёв о национальной платежной системе</p>
                    </div>
                <br>
                <p>
 <h1 class="article-title">
                    Заключение
                </h1>
                 <p>
                     <br>
                    Развитие национальной платежной системы и создание национальных платежных инструментов позволили реализовать целый ряд проектов, направленных на повышение доступности, прозрачности и обеспечение адресности услуг для граждан.
                     <br>
                     Среди наиболее значимых целей проектов по созданию ПС «Мир» и Системы быстрых платежей — обеспечение стабильности НПС и платежного суверенитета России, создание условий для внедрения инноваций в платежной сфере, а также предоставление удобных и доступных платежных услуг населению, бизнесу, государству.
                 <br>
                     
                </p>
            </div>
        </div>
    </section>
</main>
<script src="{{ '/assets/js/info_script.js' | relative_url }}"></script>
