---
layout: wrapper
---

<main>
  <div class="container mt-2 mb-2">
    <div class="row mt-2 mb-3 row-cols-lg-2 row-cols-1 gx-3 gy-3">
      <div class="col">
        <h1>Финансовые технологии и их регулирование</h1>
        <p class="lead d-none d-lg-block">
          Если вас пугают понятия токен, блокчейн, машинное обучение и биометрические системы — смело переходите в раздел и убедитесь, что знакомство с финансовыми технологиями доступно каждому.
        </p>
      </div>
      <div class="col">
        <div class="card" >
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/purTtrnfeZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="d-none d-lg-block card-body video-card">
            <h4>
              Финансовые технологии и их регулирование
            </h4>
            <p>
              Григорий Гашников о том, как устроены финансовые технологии и их регулирование
            </p>
          </div>
          <div class="d-block d-lg-none card-body video-card d-flex justify-content-around">
            <div class="mt-1 ml-3">
              <h4>
                Финансовые технологии и их регулирование
              </h4>
              <p
              >Григорий Гашников о том, как устроены финансовые технологии и их регулирование
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










<section class="article">
  <div class="container article-1">
    <div class="article-container">
      <h1 class="article-title">
        Что такое Финтех и почему он так важен?
      </h1>
      <p>
        Финансовые технологии или сокращенно «Финтех» — это предоставление финансовых услуг и сервисов с использованием новых технологий, таких как большие данные <u>big data</u>, искусственный интеллект, машинное обучение, роботизация, блокчейн, облачные технологии, биометрия и других.
        <br>
        Финтех модернизирует традиционные финансовые услуги, которые оказывают финансовые организации <u>банки, страховые фонды, инвестиционные фонды, брокеры и т.п.</u> через цифровые каналы и привлекает максимальное количество потребителей к их предложениям через удобные цифровые интерфейсы.
        <br>
        <b>Потребители</b>: финтех-компании предоставляют предоставляют продукты и услуги финансовых организаций по более низкой стоимости, при этом основываясь на анализе действий потребителей внутри сервиса персонализируя продукты.
        <br>
        <b>Бизнес</b>: финтех-компании могут сокращать временные и трансакционные издержки за счет использования технологий для автоматизации задач и отсутствия необходимости обслуживания физических отделений.
        <br>
        <b>Регулятор</b>: за счет финансовых технологий регулятор автоматизирует контроль и надзор за деятельностью участников финансового рынка, тем самым оптимизируя временные и финансовые расходы и уменьшая вероятность ошибки из-за человеческого фактора.
        <br>
        Финансовые технологии уже успели проникнуть в большое количество сфер нашей жизни. Россия и Китай находятся в лидерах по внедрению финтеха в мире, в то время как рынки США и Европы являются лидерами по количеству финтех-стартапов<sup><a href="https://www.cbr.ru/Content/Document/File/131360/oncfr_2022-2024.pdf">*</a></sup>.
        <br>
        В 2020 году Россия заняла 8-е место по количеству интернет-пользователей и 6-е место по уровню проникновения мобильных устройств в повседневную жизнь потребителей. Так, по состоянию на декабрь 2020 года 80,9% российских потребителей имеют доступ к Интернету, а в среднем по миру – 64,7%. Все финансовые услуги предоставляются несколькими видами компаний<sup><a href="https://finance.skolkovo.ru/downloads/documents/FinChair/Research_Reports/SKOLKOVO_Digital_transformation_of_financial_services_Report_Full_2019-11_ru.pdf">*</a></sup>:
        <br>
        <b>Традиционные финансовые институты:</b> банки, некоммерческие организации, страховые и инвестиционные компании
        <br>
        <b>Финтех стартапы:</b> компании, которые предлагают инновационные решения, которые за счет новой технологии будут удобнее и дешевле существующих аналогов
        <br>
        <b>Бигтехи:</b> компании, которые оказывают большое влияние на индустрию (Apple, Meta, Microsoft, VK) и внедряют финансовые решения в свои экосистемы
      </p>

      <h1 class="article-title">
        Основные понятия финтеха:
      </h1>
      <p>
        <b>Распределенная база данных (реестр)</b>: единый набор данных, который одновременно хранится в актуальном виде на устройствах всех активных участников единой распределенной сети. Принципиальное отличие распределенного реестра от централизованной системы состоит в возможности всем участникам, работающим с данными, хранить у себя актуальный экземпляр для контроля за тем, что любые изменения вносятся только в соответствии с общепринятыми участниками правилами и историю изменений может отследить каждый. В централизованных системах контроль за базой данных осуществляет уполномоченный оператор, который сам определяет, что видит каждый потребитель централизованной системы и как ведётся контроль за вносимыми в реестр данных изменениями.
        <!-- картинка -->
        <br>
        Самым известным примером является Bitcoin — первый и наиболее известный цифровой финансовый актив, который стал использовать блокчейн технологию для в своей системе. На текущий момент обладает наибольшей капитализацией среди других криптовалют.
        <br>
        <b>Смарт-контракт</b>: это компьютерный алгоритм, предназначенный для заключения и поддержания самоисполняемых контрактов, реализуемых с помощью блокчейна. Смарт-контракты позволят автоматизировать платежи сторон договора снижая неопределенность и риски невыплат. Если был заключен смарт-контракт на доступ к арендованному автомобилю, то после оплаты машина сразу откроется. Нет необходимости отдельно обрабатывать платеж, а затем предоставлять доступ к машине: все произойдет автоматически, как только деньги поступят на счет компании.
        <br>
        <b>Токен</b>: единица учета или цифровой сертификат, представляющий собой запись в регистре распределенной сети. Он гарантирует обязательства эмитента перед его владельцем, грубо говоря — аналог акций на фондовом рынке.
        <br>
        <b>Токенизация активов</b>: цифровое отображение реальных (физических) активов в распределенных реестрах в виде сертификата.
        <br>
        Например, NFT <u>non-fungible token – невзаимозаменяемый токен</u> – разновидность токена, представляющего собой уникальный актив. Данный цифровой сертификат доказывает происхождение предмета и его подлинность. В феврале 2021 года культовой гифке Nyan Cat исполнилось 10 лет. В честь этого события, ее создатель Крис Торрес решил продать Nyan Cat на платформе Foundation. Гифку продали за 590 тыс. долларов. После этого события появилось много копий Nyan Cat, но они уже не представляли такой ценности, так как не обладали сертификатом подлинности.
        <br>
        <b>P2P-сеть <u>peer-to-peer – равный к равному</u></b>: состоит из группы взаимосвязанных устройств, которые обмениваются между собой файлами и хранят один и тот же набор данных. Как правило, все узлы имеют одинаковую мощность и выполняют одни и те же задачи. P2P-сеть позволяет покупателям и продавцам совершать сделки без посредников.
        <br>
        <b>Big Data</b>: комплекс различных методологий и инструментов для работы с большими массивами данных. Изначально смысл в больших данных в том, что вы сводите в единую базу данных информацию из разных источников, где она может храниться без единой структуры. Это могут быть две таблицы данных, где есть сведения об одном человеке, но не соединенные пока между собой, и их надо сличить. Инструментарий больших данных как раз призван хранить такие массивы сырых данных и структурировать их для последующего анализа.
        <br>
        <b>Искусственный интеллект (ИИ)</b>: система, способная имитировать человеческое поведение при выполнении различных задач и обучаться по мере поступления новой информации. Смысл ИИ в том, что человек создаёт алгоритм, который имеет степени свободы в принятии решений и/или своём развитии. Это отличает ИИ от роботизации: второе – это просто автоматизация рутинных процессов.
        <br>
        Например, ИИ в чат-ботах <u>форма разговорного искусственного интеллекта, направленная на упрощение взаимодействия человека и компьютера</u> читает, анализирует и интерпретирует текст, чтобы быстрее и корректнее отвечать на запросы клиентов. Так, чат-бот Олег обрабатывает свыше 40% клиентских обращений и экономит банку больше ₽200 млн в месяц.
        <br>
        <b>Машинное обучение</b>: в финансовых технологиях машинное обучение используется для ретроспективной и предиктивной (прогнозной) аналитики данных. Объединяя алгоритмы машинного обучения с большими данными, можно создавать алгоритмы, которые предлагают новые коммерческие услуги для клиентов, опираясь на информацию об истории их потребления подобных услуг из различных источников. Например, Netflix использует технологию на основе машинного обучения и ИИ, которая на основе поведения потребителя может предложить интересный ему фильм. Данная технология анализирует предыдущие запросы пользователя, оценки, которые он поставил тому или иному фильму, после чего сравнивает их с реакцией других пользователей и «достраивает» рекомендации, как бы продолжая тенденцию человека смотреть схожие жанры, схожих режиссеров и так далее.
        <br>
        <b>Биометрические решения</b>: цифровые сервисы, использующие физиологические или поведенческие признаки человека для распознавания личности. Подобные системы сканируют самые различные биологические характеристики человека, среди которых могут быть: изображения лица, отпечатки пальцев, радужка глаза, голос, рисунки вен и даже движения губ. Несмотря на то, что эти паттерны разнообразны для каждого человека, на практике точность идентификации может разнится в зависимости от вида и способов использования. К примеру, в России Единая биометрическая система (ЕБС) использует совместно сразу два наиболее распространенных вида модальности: лицо и голос.
        <br>
        <b>Облачные технологии</b>: хранение большого количества данных на серверах, к которым можно получить удаленный доступ. Отличительной особенностью современных облачных технологий является предоставление комплекса услуг по форматам BaaS и PaaS, позволяющим множеству компаний брать в аренду не только вычислительные мощности, но и готовый набор программного обеспечения. Например, можно реализовать всю цепочку взаимодействия с клиентами на арендованном В2С решении, что для стартапов экономит большое количество средств и времени на запуск своего продукта на рынок, повышает конкуренцию <u>не надо самим разрабатывать, покупать и внедрять все информационные системы, тратиться на создание своих ИТ подразделений и удержание топ-сотрудников – они просто могут арендовать все нужные платформы в том объеме, который необходим для их размера бизнеса, и подстраивать количество арендуемых услуг с течением времени</u>. Примеры, известны всем: Яндекс.Диск, Dropbox, iCloud.
        <br>
        <b>API</b>: совокупность инструментов, позволяющая создавать связь между своей программой и другими сервисами для расширения функционала приложений или создания новых сервисов на базе уже существующих. Сами API подразделяются на открытые, партнерские и внутренние. Смысл открытых API, в отличие от остальных, в том, что это опубликованный интерфейс доступа организацией для всех участников рынка, то есть это данные, которые любой желающий с помощью запроса по известной спецификации может получить через цифровой канал.          <!-- picture -->
        <br>
        Например, сайт для информирования о прогнозе погоды может через NASA API<sup><a href="https://api.nasa.gov/index.html">*</a></sup> регулярно получать актуальные данные об астероидах, галактиках и многом другом и размещать эту информацию у себя.
      </p>
      <h1 class="article-title">
        Современные практики развития и применения цифровых технологий Банком России
      </h1>
      <p>
        Цифровые технологии стимулируют проникновение инноваций не только на финансовый рынок, но и в регуляторную деятельность центральных банков. Банк международных расчетов <u>БМР, о нем подробнее вы можете прочитать в разделе «Международные финансовые регуляторы»</u> создал Инновационный хаб, который выступает координационным центром по изучению технологических тенденций для совершенствования регулирования.
        <br>
        В среде применения технологий регуляторами и надзорными органами можно выделить два направления – SupTech и RegTech.
        <br>
        <b>SupTech:</b><u>Supervisory Technology</u> — технологии надзора, позволяющие роботизировать процессы контроля и надзора за большинством действий участников финансового рынка.
        <br>
        В 2018 году Банком России реализовал проект по переводу некредитных финансовых организаций на представление отчетности по единой моделью сбора данных – XBRL (eXtensible Business Reporting Language — «расширяемый язык деловой отчетности»), который определяет требования к содержанию, структуре и правилам выстраивания и контроля отчетных данных и повышает прозрачность и открытость финансовой информации всех участников рынка.
        <br>
        Regtech: <u>Regulatory Technology</u> – технологии регулирования, позволяющие участникам финансового рынка и регулятору наладить упрощенное взаимодействие и повысить эффективность выполнения государственных требований.
        <br>
        Одним из наиболее известных успешных инфраструктурных проектов является <b>Система быстрых платежей</b> или СБП, запущенная Банком России совместно с «Национальной системой платежных карт (НСПК)» в 2019 году, с помощью которой можно переводить деньги между счетами разных банков по номер телефона.
        <br>
        Регулятором в 2018 году была запущена национальная цифровая платформа <b>Единая биометрическая система</b> (ЕБС). Это один из ключевых элементов механизма удаленной идентификации, позволяющий бизнесу, используя сразу два вида биометрии (лицо и голос), предоставлять различные услуги. К примеру, банки с универсальной лицензией имеют право открыть счет или вклад, а также получить кредит без личного присутствия клиента  после проведения его идентификации удаленно.
        <br>
        В 2018 году для тестирования инновационных проектов в сфере финтеха была запущена <b>регулятивная «песочница»</b>. Ее механизмы предполагают моделирование процессов новых финансовых технологий в изолированной среде без рисков нарушения российского законодательства. Для этого организации следует подать соответствующую заявку и пройти рассмотрение экспертным советом Банка России. Так, уже осенью 2018 года был успешно протестирован Совместный проект Sberbank CIB и Национального расчетного депозитария, связанный с технологией проведения сделок по привлечению финансирования через ICO (первичное размещение токенов)<sup><a href="https://finopolis.ru/news/the-project-of-the-savings-bank-and-nsd-was-a-successful-trial-ico-under-the-test-site-of-the-centra (https://finopolis.ru/news/the-project-of-the-savings-bank-and-nsd-was-a-successful-trial-ico-under-the-test-site-of-the-centra">*</a></sup>.
        <br>
        Создание регулятором <b>Финтех Хаба</b> в 2020 году для повышение уровня знаний молодых специалистов в финтехе за счёт разных образовательных программ по направлениям: финансовые технологии, инновации в платежах, финансовая кибербезопасность, биометрия и прочее.
        <br>
        Одним из наиболее известных успешных инфраструктурных проектов является Система быстрых платежей или СБП, запущенная Банком России совместно с «Национальной системой платежных карт (НСПК)» в 2019 году, с помощью которой можно переводить деньги между счетами разных банков по номер телефона.
        <br>
        По инициативе Банка России и Министерства Цифрового развития в 2018 году была запущена национальная цифровая платформа Единая биометрическая система (ЕБС). Это один из ключевых элементов механизма удаленной идентификации, позволяющий бизнесу, используя сразу два вида биометрии (лицо и голос), предоставлять различные услуги. К примеру, банки с универсальной лицензией имеют право открыть счет или вклад, а также получить кредит без личного присутствия клиента  после проведения его идентификации на сайте или с помощью мобильного приложения.
      </p>
      <h1 class="article-title">
        Криптовалюты и CBDC (Central Bank Digital Currency)
      </h1>
      <p>
        Появление первой в мире криптовалюты Bitcoin в 2009 году и последующее стремительное развитие технологии блокчейн привело к созданию множества криптоактивов и росту популярности идеи децентрализованных финансвых систем (DeFi), которые в свою очередь становятся реальной альтернативой «традиционной» финансовой системе.
        <br>
        Криптовалюта – это токенизированый актив, который существует в цифровом виде и создан с применением технологии распределенных реестров.
        <br>
        Децентрализованные финансы или DeFi — это цифровые платформы, позволяющие использовать финансовые услуги, например, заимствование, кредитование и трейдинг без необходимости полагаться на централизованные организации. Все расчеты и сделки происходят в автоматизировано напрямую между пользователями на основе смарт-контрактов, используя децентрализованные приложения (Dapps). Подобные системы работают на блокчейне, так что результаты операций хранятся на тысячах устройствах одновременно.
        <br>
        Безусловно, данные математические алгоритмы подвержены различным уязвимостям, которыми активно пользуются злоумышленники, воруя деньги пользователей. Но основной проблемой подобных децентрализованных систем для государства является невозможность отследить операции по отмыванию денег и финансированию терроризма, которые мы несколько раз упоминали выше.
        <br>
        <b>Классификация цифровых денег и криптоактивов</b>
        <!-- pic -->
        <br>
        Регуляторы изучают вопрос о введении платёжного инструмента в дополнение к наличной и безналичной форме денег. Такой альтернативой является внедрение Цифровых валют центральных банков (ЦВЦБ, либо CBDC (central bank digital currency))– цифрового платежного токена, выпускаемого и полностью поддерживаемого национальным центральным банком. В отличие от множества других криптовалют, CBDC по своей сути не могут быть децентрализованными, но при этом являются законным платежным средством.
        <br>
        <b>Концепция Цифрового рубля</b>
        <br>
        Цифровой рубль – это третья форма денег, которая будет являться обязательством Банка России и использоваться наряду с наличными и безналичными рублями. При этом цифровой рубль будет иметь форму цифрового кода, хранящегося на электронных кошельках на платформе самого Банка России — в отличие от безналичных денег, которые лежат на счетах в коммерческих банках.
        <br>
        <b>Преимущества цифрового рубля:</b>
        <ul>
          <li>
            Повышение скорости расчетов  и снижение транзакционных затрат
          </li>
          <li>
            Возможность проведения оффлайн операций
          </li>
          <li>
            Доступ к кошельку через любую финансовую организацию, в которой обслуживается клиент
          </li>
          <li>
            Возможность развития инновационных сервисов на базе цифрового рубля, в том числе за счет применения смарт-контрактов
          </li>
          <li>
            Высокий уровень сохранности и безопасности средств клиентов, поскольку хранение происходит в виде обязательств Банка России
          </li>
          <li>
            Контроль за расходованием бюджетных средств со стороны государства за счет прозрачности проводимых транзакций
          </li>
        </ul>
        <br>
        <b>Недостатки цифрового рубля</b>
        <ul>
          <li>
            Слабая финансовая и технологическая грамотность населения. Поначалу большинство граждан могут настороженно относиться к новой форме российского рубля. Потребуется достаточно времени, чтобы спрос на цифровую валюту вырос и стал частью обыденной жизни. К тому же, нельзя исключать распространение новых видов мошенничества, в особенности с помощью ранее упомянутых методов социальной инженерии.
          </li>
          <li>
            Дополнительные затраты для бизнес-сектора. Финансовым организациям придется адаптировать свои системы расчётов под новую цифровую валюту. Могут потребоваться дополнительное аппаратное обеспечение, дополнительные затраты.
          </li>
        </ul>
      </p>
    </div>
  </div>
</section>
</main>
