---
layout: wrapper
---
<div class="container mt-2 mb-2">
    <div class="row mt-2 mb-5 row-cols-lg-2 row-cols-1 gx-3 gy-3">
        <div class="col">
            <h1>Как работает Банк России?</h1>
            <p class="lead d-none d-lg-block" style="font-size: 1.5em;">
                Центральный банк — это организация, которая регулирует работу всей финансовой системы страны и обеспечивает ее стабильность. Сразу отметим: центральные банки не выдают кредиты и не открывает вклады частным лицам - этим занимаются коммерческие банки. Главная цель центральных банков — обеспечить устойчивость национальной валюты. Расскажем про самые важные функции центральных банков на примере Банка России
            </p>
        </div>
        <div class="col">
            <div class="card d-none d-lg-block" style="background-color: #fffdf9">
                <div class="video-container d-flex justify-content-around">
                    <img height="360px" src="{{ '/assets/images/coin.png' | relative_url }}" alt=""> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="timeline article">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Александр II подписывает указ об образовании Государственного банка. Его функции пока что сильно ограничены: он не имеет права на эмиссию денег и занимается в основном краткосрочным кредитованием. Государственный банк больше похож на коммерческий банк, который в том числе обслуживает интересы казначейства.
           </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">60</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Александр II подписывает указ об образовании Государственного банка. Его функции пока что сильно ограничены: он не имеет права на эмиссию денег и занимается в основном краткосрочным кредитованием. Государственный банк больше похож на коммерческий банк, который в том числе обслуживает интересы казначейства.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1860.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>18</h1>
                <h1 class="dec">83</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1883.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Введена норма резервирования — коммерческие банки обязаны хранить в Государственном банке часть своих денег (не менее 10% средств, вложенных клиентами), чтобы покрыть убытки в случае непредвиденных обстоятельств
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">83</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Введена норма резервирования — коммерческие банки обязаны хранить в Государственном часть своих денег (не менее 10% средств, вложенных клиентами), чтобы покрыть убытки в случае непредвиденных обстоятельств
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1883.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Открыто здание московской конторы Государственного банка по адресу Неглинная улица, дом 12. Сегодня это главное здание Банка России. Главное отделение банка тогда располагалось в нынешнем Санкт-Петербургском Государственном Экономическом Университете
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">94</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Открыто здание московской конторы Государственного банка по адресу Неглинная улица, дом 12. Сегодня это главное здание Банка России. Главное отделение банка тогда располагалось в нынешнем Санкт-Петербургском Государственном Экономическом Университете
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="width: 180%; margin: 0 -2em" src="{{ '/assets/images/1893.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>18</h1>
                <h1 class="dec">97</h1>
            </div>
            <div style="padding-bottom: 6em" class="timeline-image">
                <img src="{{ '/assets/images/1897.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Введен золотой стандарт с целью формирования более устойчивой денежной системы. Теперь рубли в любой момент можно обменять на чистое золото (один рубль приравнивается к 0.77 граммам золота), благодаря чему среди населения укрепляется вера в ценность денег. Государственный банк начал разменивать кредитные билеты на золотую монету и получил право выпуска бумажных денег. Главной задачей Государственного банка становится регулирование денежного обращения
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">97</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Введен золотой стандарт с целью формирования более устойчивой денежной системы. Теперь рубли в любой момент можно обменять на чистое золото (один рубль приравнивается к 0.77 граммам золота), благодаря чему среди населения укрепляется вера в ценность денег. Государственный банк начал разменивать кредитные билеты на золотую монету и получил право выпуска бумажных денег. Главной задачей Государственного банка становится регулирование денежного обращения
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1897.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
            Женщины получают право работать в Государственном банке. До этого было запрещено! Однако такое право пока что предоставляется только незамужним женщинам и исключительно «по вольному найму»
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">11</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Женщины получают право работать в Государственном банке. До этого было запрещено! Однако такое право пока что предоставляется только незамужним женщинам и исключительно «по вольному найму»
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="float: right;" src="{{ '/assets/images/1911.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">14</h1>
            </div>
            <div class="timeline-image">
                <img style="margin-bottom: -0.2em;" src="{{ '/assets/images/1914.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Государственный банк в эпицентре борьбы с экономическими кризисами. Банк создает биржевые синдикаты и банковские консорциумы для влияния на рынок сплоченными действиями
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">14</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Государственный банк в эпицентре борьбы с экономическими кризисами. Банк создает биржевые синдикаты и банковские консорциумы для влияния на рынок сплоченными действиями
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1914.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline timeline-period">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Из-за Первой мировой войны стремительно растут военные расходы и дефицит государственного бюджета.
                <br>
                Для финансирования дефицита за 8 месяцев нахождения у власти Временное правительство выпустило в обращение примерно такое же количество денежных знаков, какое было эмитировано за два с половиной предшествовавших года войны
            </p>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>1914</h1>
                    <h1 class="d-block d-lg-none ms-2"> − </h1>
                    <h1 class="dec">1917</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Из-за Первой мировой войны стремительно растут военные расходы и дефицит государственного бюджета
                        <br>
                        Для финансирования дефицита за 8 месяцев нахождения у власти Временное правительство выпустило в обращение примерно такое же количество денежных знаков, какое было эмитировано за два с половиной предшествовавших года войны
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="float: right;" src="{{ '/assets/images/1914-1917.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline">
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">17</h1>
            </div>
            <div style="margin-left: 0" class="timeline-image">
                <img style="margin-left: 0" src="{{ '/assets/images/1917.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                После Октябрьской революции Государственный банк переходит в руки большевиков. Принят декрет о национализации банков, который провозглашает государственную монополию на банковское дело. Все существующие банки объединяется с Государственным в единый Народный банк, что соответствует общей идее большевиков о централизации
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">17</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        После Октябрьской революции Государственный банк переходит в руки большевиков. Принят декрет о национализации банков, который провозглашает государственную монополию на банковское дело. Все существующие банки объединяется с Государственным в единый Народный банк, что соответствует общей идее большевиков о централизации
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1917.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline timeline-period">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                В этот период времени на территории бывшей Российской Империи обращается более 2000 разновидностей денежных знаков разной степени надежности. Единая денежная система переживает период распада
            </p>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>1918</h1>
                    <h1 class="d-block d-lg-none ms-2"> − </h1>
                    <h1 class="dec">1922</h1>
                </div>
            </div>
            <div class="timeline-mobile-event d-block d-lg-none">
                <p>
                    В этот период времени на территории бывшей Российской Империи обращается более 2000 разновидностей денежных знаков разной степени надежности. Единая денежная система переживает период распада
                </p>
            </div>
            <div class="timeline-image">
                <img style="float: right;" src="{{ '/assets/images/1918-1922.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>1920</h1>
                <h1 class="dec">1921</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1920-1921.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year d-block d-lg-none">
                <div>
                 <h1>1920</h1>
                 <h1 class="d-block d-lg-none ms-2"> − </h1>
                 <h1 class="dec">1921</h1>
                </div>
             </div>
             <div class="timeline-event timeline-mobile-event">
                 <p>
                    Народный банк реорганизуется в Государственный банк РСФСР. На новый банк возложена дополнительная обязанность ведения внешних расчетов. Она включает расчет официальных курсов на драгоценные металлы и иностранную валюту
                 </p>
             </div>
             <div class="timeline-image d-block d-lg-none">
                 <img src="{{ '/assets/images/1920-1921.png' | relative_url }}" alt="">
             </div>
        </div>
    </div>
</div>
<div class="timeline">
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">33</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1933.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-event">
                <p>
                    Государственный банк начинает контролировать расход средств на выплату заработной платы предприятиям и организациям в СССР. Кроме этого, на Госбанк возложена организация скупки, приемки и хранения драгоценных металлов и иностранной валюты
                </p>
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">33</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Государственный банк начинает контролировать расход средств на выплату заработной платы предприятиям и организациям в СССР. Кроме этого, на Госбанк возложена организация скупки, приемки и хранения драгоценных металлов и иностранной валюты
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="padding-right: 1em" src="{{ '/assets/images/1933.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Госбанк СССР выведен из состава Наркомата финансов и теперь подчиняется непосредственно Правительству
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">38</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Госбанк СССР выведен из состава Наркомата финансов и теперь подчиняется непосредственно Правительству
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="margin-left: 5em;" src="{{ '/assets/images/1938.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">40</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1940.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Принято положение о полевых учреждениях Госбанка СССР. Они обеспечивают наличными деньгами воинские части и ведут их расчетно-кассовое обслуживание. Так, Банк становится ответственным за выдачу зарплаты солдатам и проведение расчетов между Министерством обороны и предприятиями военной промышленности
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">40</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Принято положение о полевых учреждениях Госбанка СССР. Они обеспечивают наличными деньгами воинские части и ведут их расчетно-кассовое обслуживание. Так, Банк становится ответственным за выдачу зарплаты солдатам и проведение расчетов между Министерством обороны и предприятиями военной промышленности
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="padding-right: 1em; padding-bottom: 1em;" src="{{ '/assets/images/1940.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Принят новый устав Государственного банка. Теперь Госбанк фактически выполняет роль всей банковской системы страны — выпускает деньги, выдает кредиты и проводит денежные расчеты для правительства. Эти функции останутся основными для банка на протяжении почти десяти лет, после чего часть его функций разделят два новых банка-монополиста: Стройбанк СССР и Внешторгбанк СССР
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">49</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Принят новый устав Государственного банка. Теперь Госбанк фактически выполняет роль всей банковской системы страны — выпускает деньги, выдает кредиты и проводит денежные расчеты для правительства. Эти функции останутся основными для банка на протяжении почти десяти лет, после чего часть его функций разделят два новых банка-монополиста: Стройбанк СССР и Внешторгбанк СССР
                     </p>
                 </div>
            </div>
            <div class="timeline-image">
                <img style="padding-right: 1em; padding-bottom: 1em;" src="{{ '/assets/images/1949.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div style="margin-right: 0" class="timeline-container timeline-container-left">
            <div style="margin-right: 2em" class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">87</h1>
            </div>
            <div style="margin-left: 0" class="timeline-image">
                <img style="margin-left: 0" src="{{ '/assets/images/1987.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Проведена новая банковская реформа. В результате за Госбанком СССР закреплены функции централизованного планового управления денежно-кредитной системой страны
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div style="margin-left: 0" class="timeline-container timeline-container-right">
            <div style="margin-left: 2em;" class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">87</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Проведена новая банковская реформа. В результате за Госбанком СССР закреплены функции централизованного планового управления денежно-кредитной системой страны
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1987.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Появляются первые акционерные коммерческие банки. Принят последний устав Государственного банка СССР. Его главные задачи — координация деятельности банков в СССР и автоматизация системы управления банковскими операциями
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">88</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Появляются первые акционерные коммерческие банки. Принят последний устав Государственного банка СССР. Его главные задачи — координация деятельности банков в СССР и автоматизация системы управления банковскими операциями
                     </p>
                 </div>
            </div>
            <div class="timeline-image d-none d-lg-block">
                <img style="float: right; margin-right: 3em;" src="{{ '/assets/images/1988.png' | relative_url }}" alt="">
            </div>
            <div class="timeline-image d-block d-lg-none">
                <img style="padding-bottom: 2em; padding-right: 2em" src="{{ '/assets/images/1988.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">90</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1990.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Принят закон «О Центральном банке РСФСР (Банке России)». Банковская система в России стала двухуровневой — Центральный банк стоит на верхнем уровне и координирует работу коммерческих банков, которые в 1990-ых стали образовываться по всей России — вначале бывшие государственные банки становились частными, а потом бизнесмены стали создавать новые коммерческие банки
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">90</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Принят закон «О Центральном банке РСФСР (Банке России)». Банковская система в России стала двухуровневой — Центральный банк стоит на верхнем уровне и координирует работу коммерческих банков, которые в 1990-ых стали образовываться по всей России — вначале бывшие государственные банки становились частными, а потом бизнесмены стали создавать новые коммерческие банки
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="padding-bottom: 2em; padding-right: 2em"  src="{{ '/assets/images/1990.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Из-за тяжелой экономической ситуации в период транзита, банковской системе приходится тяжело. Инфляция растет огромными темпами, ставки по вкладам в какой-то момент становятся отрицательными. И все же Банк России делает все возможное для поддержания стабильности системы. Главным его достижением стало создание системы валютного регулирования и контроля
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img" style="margin-left: 0em;">
        <div class="timeline-container timeline-container-right" style="margin-left: 0em;">
            <div class="timeline-year" style="margin-left: 2em;">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">91</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                         Из-за тяжелой экономической ситуации в период транзита, банковской системе приходится тяжело. Инфляция растет огромными темпами, ставки по вкладам в какой-то момент становятся отрицательными. И все же Банк России делает все возможное для поддержания стабильности финансовой системы. Главным его достижением стало создание системы валютного регулирования и контроля
                     </p>
                 </div>
            </div>
            <div class="timeline-image">
                <img style="width: 200%; margin-right: -2em" src="{{ '/assets/images/1991.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline timeline-period">
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>1999</h1>
                <h1 class="dec">2003</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1999-2003.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year d-block d-lg-none">
                <div class="mt-1">
                    <h1>1999</h1>
                    <h1 class="d-block d-lg-none ms-2"> − </h1>
                    <h1 class="dec">2003</h1>
                </div>
            </div>
            <div class="timeline-event timeline-mobile-event">
                <p>
                    Финансовая система переживает серьезные трудности из-за дефолта и экономического кризиса. Проводится ряд важнейших реформ, которые возвращают доверие банковской системе.
                    <br>
                    В 2000 году все банки обязывают перейти на международные стандарты отчетности, в 2001 — установлены нормативы деятельности банков. Это гарантирует большую прозрачность банковской деятельности. В 2003 году принят закон о страховании вкладов, что помогло вернуть доверие к банковской системе
                </p>
            </div>
            <div class="timeline-image d-block d-lg-none">
                <img src="{{ '/assets/images/1999-2003.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline shadow-bottom">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Банк России получает функции мегарегулятора, став органом регулирования и надзора за всеми участниками финансового сектора, включая банки, биржи, страховые компании, пенсионные и инвестиционные фонды
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>20</h1>
                    <h1 class="dec">13</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Банк России получает функции мегарегулятора, став органом регулирования и надзора за всеми участниками финансового сектора, включая банки, биржи, страховые компании, пенсионные и инвестиционные фонды
                     </p>
                 </div>
            </div>
            <div class="timeline-image d-none d-lg-block">
                <img src="{{ '/assets/images/2013.png' | relative_url }}" alt="">
            </div>
            <div class="timeline-image d-block d-lg-none">
                <img style="margin-left: -2em;" src="{{ '/assets/images/2013.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-1">
    <div class="row mt-2 mb-5 row-cols-lg-2 row-cols-1 gx-3 gy-3">
        <div class="col">
            <h1>
                Наши дни
            </h1>
            <p class="lead" style="font-size: 1.5em;">
                Банк России — институция с богатой историей. Его полуторавековой путь включает в себя две революции и смену экономической системы. Он успел побывать и кредитором, и координатором спасения экономики, и монополистом, выполняющим операции от планирования экономики до выплаты зарплат. Его уникальный путь продолжается и по сей день. Но Банк России сегодня — не история, а важный элемент настоящего и будущего нашей страны.
            </p>
        </div>
    </div>
</div>

