---
layout: wrapper
---
<div class="container mt-2 mb-2">
    <div class="row mt-2 mb-5 row-cols-lg-2 row-cols-1 gx-3 gy-3">
        <div class="col">
            <h1>История Банка России</h1>
            <p class="lead d-none d-lg-block" style="font-size: 1.5em;">
                Банк России сейчас– главный эмиссионный и денежно-кредитный регулятор страны. Однако эта роль преобразовывалась в ходе истории: менялись названия, функции, события в стране — давайте погрузимся в нее и узнаем о том, что сделало Центральный банк нашей страны таким, каким мы видим его сегодня.
            </p>
        </div>
        <div class="col">
            <div class="card d-none d-lg-block" style="background-color: #fffdf9">
                <div class="video-container d-flex justify-content-around">
                    <img height="360px" src="{{ '/assets/images/coin.png' | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="timeline article">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Александр II подписывает указ об образовании Государственного банка. Его функции пока что сильно ограничены: он не имеет права на эмиссию денег и занимается в основном краткосрочным кредитованием. Государственный банк больше похож на коммерческий банк, который в том числе обслуживает интересы казны.
           </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">60</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Александр II подписывает указ об образовании Государственного банка. Его функции пока что сильно ограничены: он не имеет права на эмиссию денег и занимается в основном краткосрочным кредитованием. Государственный банк больше похож на коммерческий банк, который в том числе обслуживает интересы казны.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1860.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>18</h1>
                <h1 class="dec">83</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1883.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Введена норма резервирования — коммерческие банки обязаны хранить в Государственном банке часть своих денег (на текущем счету), чтобы покрыть убытки в случае непредвиденных обстоятельств.
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">83</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Введена норма резервирования — коммерческие банки обязаны хранить в Государственном банке часть своих денег (на текущем счету), чтобы покрыть убытки в случае непредвиденных обстоятельств.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1883.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Открыто здание московской конторы Государственного банка по адресу Неглинная улица, дом 12. Сегодня это главное здание Банка России. Главный офис банка тогда располагался в здании, ныне занимаемым Санкт-Петербургским Государственным Экономическим Университетом.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">94</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Открыто здание московской конторы Государственного банка по адресу Неглинная улица, дом 12. Сегодня это главное здание Банка России. Главный офис банка тогда располагался в здании, ныне занимаемым Санкт-Петербургским Государственным Экономическим Университетом.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="width: 180%; margin: 0 -2em" src="{{ '/assets/images/1893.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>18</h1>
                <h1 class="dec">97</h1>
            </div>
            <div style="padding-bottom: 6em" class="timeline-image">
                <img src="{{ '/assets/images/1897.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Введен золотой стандарт с целью формирования более устойчивой денежной системы. Теперь рубли в любой момент можно обменять на золото (один рубль приравнивается к 0.77 граммам чистого золота), благодаря чему среди населения укрепляется вера в ценность денег. Государственный банк начал разменивать кредитные билеты на золотую монету и получил право выпуска бумажных денег. Главной задачей Государственного банка становится регулирование денежного обращения.
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>18</h1>
                    <h1 class="dec">97</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Введен золотой стандарт с целью формирования более устойчивой денежной системы. Теперь рубли в любой момент можно обменять на золото (один рубль приравнивается к 0.77 граммам чистого золота), благодаря чему среди населения укрепляется вера в ценность денег. Государственный банк начал разменивать кредитные билеты на золотую монету и получил право выпуска бумажных денег. Главной задачей Государственного банка становится регулирование денежного обращения.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1897.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
            Женщины получают право работать в Государственном банке. Однако такое право пока что предоставляется только незамужним женщинам и исключительно «по вольному найму».
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">11</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Женщины получают право работать в Государственном банке. Однако такое право пока что предоставляется только незамужним женщинам и исключительно «по вольному найму».
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="float: right;" src="{{ '/assets/images/1911.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">14</h1>
            </div>
            <div class="timeline-image">
                <img style="margin-bottom: -0.2em;" src="{{ '/assets/images/1914.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Государственный банк в эпицентре борьбы с экономическими кризисами. Банк создает биржевые синдикаты и банковские консорциумы для влияния на рынок сплоченными действиями.
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">14</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Государственный банк в эпицентре борьбы с экономическими кризисами. Банк создает биржевые синдикаты и банковские консорциумы для влияния на рынок сплоченными действиями.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1914.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline timeline-period">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Из-за Первой мировой войны стремительно растут военные расходы и дефицит государственного бюджета.
                <br>
                Для финансирования дефицита за 7 месяцев нахождения у власти Временное правительство выпустило в обращение примерно такое же количество денежных знаков, какое было эмитировано за два с половиной предшествовавших года войны.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>1914</h1>
                    <h1 class="d-block d-lg-none ms-2"> − </h1>
                    <h1 class="dec">1917</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Из-за Первой мировой войны стремительно растут военные расходы и дефицит государственного бюджета.
                        <br>
                        Для финансирования дефицита за 7 месяцев нахождения у власти Временное правительство выпустило в обращение примерно такое же количество денежных знаков, какое было эмитировано за два с половиной предшествовавших года войны.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="float: right;" src="{{ '/assets/images/1914-1917.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline">
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">17</h1>
            </div>
            <div style="margin-left: 0" class="timeline-image">
                <img style="margin-left: 0" src="{{ '/assets/images/1917.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                После Октябрьской революции Государственный банк переходит в руки большевиков. Принят декрет о национализации банков, который провозглашает государственную монополию на банковское дело. Все существующие банки объединяется с Государственным в единый Народный банк, что соответствует общей идее большевиков о централизации.
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">17</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        После Октябрьской революции Государственный банк переходит в руки большевиков. Принят декрет о национализации банков, который провозглашает государственную монополию на банковское дело. Все существующие банки объединяется с Государственным в единый Народный банк, что соответствует общей идее большевиков о централизации.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1917.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline timeline-period">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>  
               В этот период времени на территории бывшей Российской Империи обращается большое количество денежных знаков, которые выпускают Советское правительство, белогвардейцы, местные власти и даже предприятия. Единая денежная система переживает период распада.
           <br>
                    В период «военного коммунизма», в начале 1920 года, ликвидирован Народный банк РСФСР, а его функции были переданы финансовым отделам исполнительных комитетов советов рабочих, крестьянских и красноармейских депутатов.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>1918</h1>
                    <h1 class="d-block d-lg-none ms-2"> − </h1>
                    <h1 class="dec">1922</h1>
                </div>
            </div>
            <div class="timeline-mobile-event d-block d-lg-none">
                <p>
                    В этот период времени на территории бывшей Российской Империи обращается большое количество денежных знаков, которые выпускают Советское правительство, белогвардейцы, местные власти и даже предприятия. Единая денежная система переживает период распада.
               <br>
                    В период «военного коммунизма», в начале 1920 года, ликвидирован Народный банк РСФСР, а его функции были переданы финансовым отделам исполнительных комитетов советов рабочих, крестьянских и красноармейских депутатов.
                </p>
            </div>
                       <div class="timeline-image">
                <img style="float: right;" src="{{ '/assets/images/1918-1922.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>1920</h1>
                <h1 class="dec">1921</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1920-1921.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year d-block d-lg-none">
                <div>
                 <h1>1920</h1>
                 <h1 class="d-block d-lg-none ms-2"> − </h1>
                 <h1 class="dec">1923</h1>
                </div>
             </div>
             <div class="timeline-event timeline-mobile-event">
                 <p>
                    Создан Государственный банк РСФСР. Согласно Положению о банке, он организовывался для содействия развитию промышленности, сельского хозяйства и торговли, а также для проведения мер по стабилизации денежного обращения.
                     <br>
                     Госбанк РСФСР начинает выпускать в обращение червонцы – твердую советскую валюту, по закону частично обеспеченную золотом. 
                     <br>
                     В связи с образованиеv Союза Советских Социалистических Республик впоследствие Госбанк РСФСР реорганизован в Государственный банк СССР.
                 </p>
             </div>
             <div class="timeline-image d-block d-lg-none">
                 <img src="{{ '/assets/images/1920-1921.png' | relative_url }}" alt="">
             </div>
        </div>
    </div>
</div>
<div class="timeline">
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">33</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1933.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-event">
                <p>
                    Государственный банк начинает контролировать расход средств на выплату заработной платы предприятиям и организациям в СССР. Кроме этого, на Госбанк возложена организация скупки, приемки и хранения драгоценных металлов и иностранной валюты.
                </p>
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">33</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Государственный банк начинает контролировать расход средств на выплату заработной платы предприятиям и организациям в СССР. Кроме этого, на Госбанк возложена организация скупки, приемки и хранения драгоценных металлов и иностранной валюты.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="padding-right: 1em" src="{{ '/assets/images/1933.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Госбанк СССР выведен из состава Наркомата финансов и теперь подчиняется непосредственно Правительству.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">38</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Госбанк СССР выведен из состава Наркомата финансов и теперь подчиняется непосредственно Правительству
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="margin-left: 5em;" src="{{ '/assets/images/1938.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">40</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1940.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Принято положение о полевых учреждениях Госбанка СССР. Они обеспечивают наличными деньгами воинские части и ведут их расчетно-кассовое обслуживание. 
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">40</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Принято положение о полевых учреждениях Госбанка СССР. Они обеспечивают наличными деньгами воинские части и ведут их расчетно-кассовое обслуживание. 
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="padding-right: 1em; padding-bottom: 1em;" src="{{ '/assets/images/1940.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Принят новый устав Государственного банка. Подчеркнута его роль как единого эмиссионного банка, банка краткосрочного кредитования и расчетного центра СССР.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">49</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Принят новый устав Государственного банка. Подчеркнута его роль как единого эмиссионного банка, банка краткосрочного кредитования и расчетного центра СССР.
                     </p>
                 </div>
            </div>
            <div class="timeline-image">
                <img style="padding-right: 1em; padding-bottom: 1em;" src="{{ '/assets/images/1949.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div style="margin-right: 0" class="timeline-container timeline-container-left">
            <div style="margin-right: 2em" class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">87</h1>
            </div>
            <div style="margin-left: 0" class="timeline-image">
                <img style="margin-left: 0" src="{{ '/assets/images/1987.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                ППроведена новая банковская реформа. В результате за Госбанком СССР закреплены функции централизованного планового управления денежно-кредитной системой страны.
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div style="margin-left: 0" class="timeline-container timeline-container-right">
            <div style="margin-left: 2em;" class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">87</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Проведена новая банковская реформа. В результате за Госбанком СССР закреплены функции централизованного планового управления денежно-кредитной системой страны.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1987.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Появляются первые акционерные коммерческие банки. Принят последний устав Государственного банка СССР. Его главные задачи — координация деятельности банков в СССР и автоматизация системы управления банковскими операциями.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">88</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Появляются первые акционерные коммерческие банки. Принят последний устав Государственного банка СССР. Его главные задачи — координация деятельности банков в СССР и автоматизация системы управления банковскими операциями.
                     </p>
                 </div>
            </div>
            <div class="timeline-image d-none d-lg-block">
                <img style="float: right; margin-right: 3em;" src="{{ '/assets/images/1988.png' | relative_url }}" alt="">
            </div>
            <div class="timeline-image d-block d-lg-none">
                <img style="padding-bottom: 2em; padding-right: 2em" src="{{ '/assets/images/1988.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>19</h1>
                <h1 class="dec">90</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1990.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
            <p>
                Принят закон «О Государственном банке РСФСР и банках на территории республики». Государственному банку РСФСР поручалось разработать положения по организации двухуровневой банковской системы в стране.
            </p>
        </div>
    </div>
    <div class="timeline-component-img d-block d-lg-none">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">90</h1>
                </div>
                <div class="timeline-mobile-event d-block d-lg-none">
                    <p>
                        Принят закон «О Государственном банке РСФСР и банках на территории республики». Государственному банку РСФСР поручалось разработать положения по организации двухуровневой банковской системы в стране.
                    </p>
                </div>
            </div>
            <div class="timeline-image">
                <img style="padding-bottom: 2em; padding-right: 2em"  src="{{ '/assets/images/1990.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Государственный банк РСФСР переименован в Центральный банк РСФСР, который признан единственным на территории республики органом государственного денежно-кредитного и валютного регулирования.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img" style="margin-left: 0em;">
        <div class="timeline-container timeline-container-right" style="margin-left: 0em;">
            <div class="timeline-year" style="margin-left: 2em;">
                <div>
                    <h1>19</h1>
                    <h1 class="dec">91</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                         Государственный банк РСФСР переименован в Центральный банк РСФСР, который признан единственным на территории республики органом государственного денежно-кредитного и валютного регулирования.
                     </p>
                 </div>
            </div>
            <div class="timeline-image">
                <img style="width: 200%; margin-right: -2em" src="{{ '/assets/images/1991.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline timeline-period">
    <div class="timeline-component-img d-none d-lg-block">
        <div class="timeline-container timeline-container-left">
            <div class="timeline-year">
                <h1>2002</h1>
                <h1 class="dec">2003</h1>
            </div>
            <div class="timeline-image">
                <img src="{{ '/assets/images/1999-2003.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
    <div class="timeline-middle">
    </div>
    <div class="timeline-component">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year d-block d-lg-none">
                <div class="mt-1">
                    <h1>1999</h1>
                    <h1 class="d-block d-lg-none ms-2"> − </h1>
                    <h1 class="dec">2003</h1>
                </div>
            </div>
            <div class="timeline-event timeline-mobile-event">
                <p>
                    Принят Федеральный закон «О Центральном банке Российской Федерации (Банке России)» – основной документ, регулирующий деятельность Банка России.Согласно закону, целями деятельности Банка России являются защита и обеспечение устойчивости рубля, развитие и укрепление банковской системы Российской Федерации, обеспечение стабильности и развитие национальной платежной системы, развитие и обеспечение стабильности финансового рынка Российской Федерации.

                    <br>
                    Принят закон о страховании вкладов, что помогло вернуть доверие к банковской системе.
                </p>
            </div>
            <div class="timeline-image d-block d-lg-none">
                <img src="{{ '/assets/images/1999-2003.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="timeline shadow-bottom">
    <div class="timeline-component d-none d-lg-block">
        <div class="timeline-event">
           <p>
                Банк России получает функции мегарегулятора, став органом регулирования и надзора за всеми участниками финансового сектора, включая банки, биржи, страховые компании, пенсионные и инвестиционные фонды.
            </p>
        </div>
    </div>
    <div class="timeline-middle">
        <div class="timeline-point"></div>
    </div>
    <div class="timeline-component-img">
        <div class="timeline-container timeline-container-right">
            <div class="timeline-year">
                <div>
                    <h1>20</h1>
                    <h1 class="dec">13</h1>
                </div>
                <div class="timeline-event timeline-mobile-event d-block d-lg-none">
                    <p>
                        Банк России получает функции мегарегулятора, став органом регулирования и надзора за всеми участниками финансового сектора, включая банки, биржи, страховые компании, пенсионные и инвестиционные фонды.
                     </p>
                 </div>
            </div>
            <div class="timeline-image d-none d-lg-block">
                <img src="{{ '/assets/images/2013.png' | relative_url }}" alt="">
            </div>
            <div class="timeline-image d-block d-lg-none">
                <img style="margin-left: -2em;" src="{{ '/assets/images/2013.png' | relative_url }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-1">
    <div class="row mt-2 mb-5 row-cols-lg-2 row-cols-1 gx-3 gy-3">
        <div class="col">
            <h1>
                Наши дни
            </h1>
            <p class="lead" style="font-size: 1.5em;">
                Банк России — организация с богатой историей. Его уникальный путь продолжается и по сей день. Но Банк России сегодня — не только история, а важный элемент настоящего и будущего нашей страны.
            </p>
        </div>
    </div>
</div>
